@media all and (display-mode: standalone) {
  body {
     -webkit-user-select: none; /* disables selection */
     -webkit-tap-highlight-color: transparent; /* disables highlighting */
     -webkit-touch-callout: none; /* disables callouts */ /* needs improvement on the css selectors */
  }
}

.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}